<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Поиск для людей по Golos.io">

    <title>AskGolos - чё там у ГОЛОСА? | Golos.io Search Engine</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
          type="text/css">
    <link href="css/askgolos.min.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

</head>

<body id="page-top" ng-app="askgolos" ng-controller="SearchController">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="ask">Ask</span>ГОЛОС</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Меню
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn-social btn-outline" href="#syntax" data-toggle="modal">
                        <i class="fa fa-fw fa-info"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn-social btn-outline" href="https://github.com/ozhehkovski/askgolos" target="_blank">
                        <i class="fa fa-fw fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <img class="img-fluid" src="img/golos-share.png" alt="">
        <div class="intro-text">
            <form>
                <div class="form-group">
                    <angucomplete-alt id="members"
                                      placeholder="Спроси что-нибудь у ГОЛОСа"
                                      pause="100"
                                      minlength="1"
                                      selected-object="results.response"
                                      remote-url="http://askgolos.ru/search?q="
                                      remote-url-data-field="docs"
                                      title-field="title"
                                      input-class="form-control"
                                      match-class="highlight"
                                      clear-selected="true"
                                      text-no-results="Ничего не найдено"
                                      text-searching="Ищем..">
                    <!--<input type="text" ng-model="search_text" ng-change="search(search_text)" class="form-control" id="query" placeholder="Спроси что-нибудь у ГОЛОСа">-->
                </div>
            </form>
            <p ng-cloak ng-show="results.response">Найдено <span id="r">{{ results.response.numFound }}</span> результатов</p>
        </div>
    </div>
</header>

<!-- Result Grid Section -->
<section id="result">
    <div class="container">
        <div class="row" infinite-scroll="Paging()" infinite-scroll-distance="10">
            <!--<div class="col-md-12" ng-show="!results.response" ng-cloak>Введите чтото</div>-->
            <!--<div class="col-md-12 filter">-->
                <!--<a href=""><span class="badge badge-pill badge-light">Посты</span></a>-->
                <!--<a href=""><span class="badge badge-pill badge-light">Авторы</span></a>-->
                <!--<a href=""><span class="badge badge-pill badge-success">Комментарии</span></a>-->
                <!--<a href=""><span class="badge badge-pill badge-light">Голосисты</span></a>-->
                <!--<a href=""><span class="badge badge-pill badge-light">Закомменченые</span></a>-->
                <!--<a href=""><span class="badge badge-pill badge-light">Новые</span></a>-->
            <!--</div>-->
            <div class="col-md-12 result border border-primary" ng-repeat="doc in results.response.docs" ng-cloak>
                <h4><a href="https://golos.io{{doc.url}}"><i class="fa fa-file-text-o" aria-hidden="true"></i>{{doc.url}}</a></h4>
                <p class="snippet">The Millionth Gridcoin <span class="badge badge-primary">Block</span> is inbound and
                    to celebrate an idea was fielded to produce a
                    commemorative coin. Since @Dutch has been busy lately he asked if I could finish the 3D model of the
                    coin as the design stood last week. Before going ahead and producing a mock up on the 3D printer to
                    demons... </p>
                <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2,158 Votes | <i class="fa fa-comments"
                                                                                       aria-hidden="true"></i> 68
                    Comments | 2017-08-15 by <a href="">{{ doc.author }}</a> in <a href="">gridcoin</a> </p>
            </div>
            <!--<div class="col-md-12 result border border-warning">-->
                <!--<h4><a href=""><i class="fa fa-user" aria-hidden="true"></i> USERNAME</a></h4>-->
                <!--<p class="snippet">Gridcoin #BOINC #Bitshares #BeyondBitcoin #Podcast</p>-->
                <!--<p><a href=""><i class="fa fa-users" aria-hidden="true"></i> 1,443 Followers</a> | <a href=""><i class="fa fa-rss"-->
                                                                                       <!--aria-hidden="true"></i> 68-->
                    <!--Following</a></p>-->
                <!--<ul>-->
                    <!--<li><a href="https://golos.io/ru&#45;&#45;puteshestviya/@ssigerefen/khokhotat-do-upadu">Хохотать до упаду</a> | 2017-08-15</li>-->
                    <!--<li><a href="https://golos.io/ru&#45;&#45;puteshestviya/@ssigerefen/khokhotat-do-upadu">Хохотать до упаду</a> | 2017-08-15</li>-->
                    <!--<li><a href="https://golos.io/ru&#45;&#45;puteshestviya/@ssigerefen/khokhotat-do-upadu">Хохотать до упаду</a> | 2017-08-15</li>-->
                <!--</ul>-->
            <!--</div>-->

        </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<div class="syntax-modal modal fade" id="syntax" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2>Синтаксис запросов</h2>
                            <hr class="star-primary">
                            <div class="col-md-12">
                                <h3>Поиск по фразам</h3>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>Как купить блокчейн</li>
                                    <li>Что такое голос</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Точное вхождение</h3>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>"How to buy bitcoin"</li>
                                    <li>"What is steem"</li>
                                    <li>"Markdown tutorial"</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Поиск по тегам</h3>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>tags:life</li>
                                    <li>tags:steemit</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Поиск по авторам</h3>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>author:thekyle</li>
                                    <li>author:abit</li>
                                    <li>author:steemit</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Поиск по дате создания</h3>
                                <p>Формат даты для запроса: YYYY-MM-DD. Можно указать период от до в формате [DateStart
                                    to DateEnd]</p>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>created:2017-06-02</li>
                                    <li>created:[2017-05-01 TO 2017-05-31]</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Поиск по количеству голосов/комментариев</h3>
                                <p>Примеры запросов:</p>
                                <ul>
                                    <li>Posts with 150 votes:
                                        net_votes:150
                                    </li>
                                    <li>Posts with between 100 and 150 votes
                                        net_votes:[100 TO 150]
                                    </li>
                                    <li>Posts with 50 comments:
                                        children:50
                                    </li>
                                    <li>Posts with between 40 and 50 comments:
                                        children:[40 TO 50]
                                    </li>
                                    <li>Posts with more than 50 comments:
                                        children:>50
                                        or less than 50:
                                        children:<50
                                    </li>
                                    <li>
                                        this also works with votes, less than or equal to 10 votes:
                                        net_votes:<=10
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Поиск с усилением слов</h3>
                                <p>через крышку указываем усиление ^m</p>
                                <p>Примеры запросов</p>
                                <ul>
                                    <li>How to mine^2 steem^3</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Исключение и вхождение</h3>
                                <p>+ перед словом - обязательное вхождение в пост, - исключение</p>
                                <p>Пример запроса:</p>
                                <ul>
                                    <li>cryptocurrency +mining -bitcoin</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h3>Использование логических запросов</h3>
                                <p>Доступны функции AND, OR, and NOT</p>
                                <p>Пример запроса:</p>
                                <ul>
                                    <li>tags:asksteem AND author:thekyle</li>
                                    <li>created:2017-06-02 AND net_votes:>=100 AND children:<10</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/search.js"></script>
</body>

</html>
